@charset "utf-8";
	.st4
{
	font-family : Osaka;
	font-size : 40px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st3
{
	font-family : Futura;
	font-size : 27px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st9
{
	font-family : Osaka;
	font-size : 20px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st7
{
	font-family : Osaka;
	font-size : 40px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st2
{
	font-family : Osaka;
	font-size : 37px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st11
{
	font-family : Osaka;
	font-size : 61px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st1
{
	font-family : Osaka;
	font-size : 40px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st6
{
	font-family : Futura;
	font-size : 27px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st10
{
	font-family : Š¿Žšƒ^ƒCƒ|ƒX‚S‚P‚T Std;
	font-size : 23px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st5
{
	font-family : Osaka;
	font-size : 37px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st12
{
	font-family : Futura;
	font-style : italic;
	font-size : 68px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st
{
	font-family : Futura;
	font-size : 27px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.st8
{
	font-family : Osaka;
	font-size : 37px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
